* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    background-color: #DA627D;
    color: white;
    height: 5rem;
    line-height: 5rem; /* text - vertically center */
}

.choices { /* container that contains divs of images */
    display: flex;
    justify-content: center; /*horizontal align */
    align-items: center; /* vertically align */
    gap: 3rem;
    margin-top: 5rem;
}

.choice { /* divs of images */
    height: 165px;
    width: 165px;
    border-radius: 50%; /* circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #DA627D;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    color: #EC0868;
}

#user-score, #comp-score {
    font-size: 4rem;
    color: #EC0868;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #DA627D;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

